<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <form>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    게시판
                </div>
                <div class="card-body">
                    <h5 class="card-title">게시판 조회</h5>
                    <div class="input-group mb3">
                        <span class="input-group-text">제목</span>
                        <input type="text" name="title" class="form-control" th:value="${dto.title}" >
                    </div>

                    <div class="input-group mb3">
                        <span class="input-group-text">내용</span>
                        <textarea name="content" class="form-control col-sm-5" rows="5" >[[${dto.content}]]</textarea>
                    </div>

                    <div class="input-group mb3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" name="user_id" class="form-control" th:value="${dto.user_id}" >
                    </div>

                    <div class="input-group mb3">
                        <span class="input-group-text">노출일자</span>
                        <input type="text" name="display_date" class="form-control" th:value="${dto.display_date}" >
                    </div>

                    <div class="input-group mb3">
                        <span class="input-group-text">등록일</span>
                        <input type="text" name="modify_date" class="form-control" th:value="${dto.reg_date}" >
                    </div>
                    <div class="my-4">
                        <div class="flaot-end" th:with="${pageRequestDTO.getLinkParams()}">
                            <a class="text-decoration-none">
                                <button type="submit" class="btn btn-primary">등록</button>
                            </a>
                            <a th:href="|@{/board/list}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">취소</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script layout:fragment="script" th:inline="javascript">
    const error = [[${errors}]]
    console.log("errors : ", error);

    let errMsg = "";
    if(error){

    }

</script>



</html>