<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    게시판
                </div>
                <div class="card-body">
                    <h5 class="card-title">게시판 조회</h5>
                    <div class="input-group mb3">
                        <span class="input-group-text">제목</span>
                        <input type="text" name="title" class="form-control" th:value="${dto.title}" readonly>
                    </div>

                    <div class="input-group mb3">
                        <span class="input-group-text">내용</span>
                        <textarea name="content" class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
                    </div>

                    <div class="input-group mb3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" name="user_id" class="form-control" th:value="${dto.user_id}" readonly>
                    </div>

                    <div class="input-group mb3">
                        <span class="input-group-text">노출일자</span>
                        <input type="text" name="display_date" class="form-control" th:value="${dto.display_date}" readonly>
                    </div>

                    <div class="input-group mb3">
                        <span class="input-group-text">등록일</span>
                        <input type="text" name="modify_date" class="form-control" th:value="${dto.reg_date}" readonly>
                    </div>
                    <div class="my-4">
                        <div class="float-end" th:with="link=${pageRequestDTO.getLinkParams()}">
                            <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">목록</button>
                            </a>
                            <a th:href="|@{/board/modify(idx=${dto.idx})}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">수정</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    const bbs_idx = [[${dto.idx}]];
    const replyList = document.querySelector(".replyList");
    const replyPaging = document.querySelector(".replyPaging");

    function printReplyArea(page,page_size,goLast){
        getReplyList({bbs_idx,page,page_size,goLast})
            .then(
                data=>{
                    console.log(data);
                    printReplayList(data.dtoList);
                    printPaging(data.pageRequestDTO);
                }
            )
            .catch(e=>{console.log(e);});
    }
    printReplyArea(1,10);
    function printReplayList(dtoList){
        let replyLi = "";
        let reDate = "";
        if(dtoList && dtoList.length >0){
            for(const dto of dtoList) {
                reDate = (dto.reply_date != null && dto.reply_date != ""
                    && dto.reply_date != undefined && dto.reply_date != "undefined" ?
                        dto.reply_date.toString().substring(0, 10) : "-");
                replyLi += `<li class="list-group-item d-flex replyItem">
                    <span class="col-2">${dto.idx}</span>
                    <span class="col-6" data-idx="${dto.idx}">${dto.title}
                    <span class="badge progress-bar-success replyDelete" style="background-color: #0a53be"
                    onclick="replyDeleteOk(${dto.idx})">X</span></span>
                    <span class="col-2">${dto.user_id}</span>
                    <span class="col-2">${reDate}</span>
                    </li>`;
            }

        }else{
            replyLi += `<li class="list-group-item d-flex replyItem">
                <span class="col-12">등록된 댓글이 없습니다.</span></li>`
        }

        replyList.innerHTML = replyLi;
    }
    function printPaging(data){
        pagePrevLi = "";
        pageLiList = "";
        pageNextLi = "";
        pageArea = "";
        if(data.prev_page_flag){
            pagePrevLi += `<li class="page-item">
                <a class="page-link" data-page="${data.page_block_start -10}" >Prev</a>`
        } else{
            pagePrevLi += `<li class="page-item">
                    <a class="page-link" data-page="${data.page_block_start - 10}" onclick="printReplyArea(${data.page_block_start - 10},10)">Prev</a>`
        }

        for(let i=data.page_block_start; i<=data.page_block_end; i++){
            if(data.page==i){
                pageLiList +=`<li class="page-item active"><a class="page-link data-page=${i}">${i}</a></li>`
            } else{
                pageLiList +=`<li class="page-item "><a class="page-link data-page=${i}" onclick="printReplyArea(${i},10)">${i}</a></li>`
            }
        }

        if(data.next_page_flag){
            pagePrevLi += `<li class="page-item">
                <a class="page-link" data-page="${data.page_block_end+10}" >Next</a>`
        } else{
            pagePrevLi += `<li class="page-item">
                    <a class="page-link" data-page="${data.page_block_end + 10}" onclick="printReplyArea(${data.page_block_end + 10},10)">Next</a>`
        }

        pageArea = pagePrevLi + pageLiList + pageNextLi;
        replyPaging.innerHTML += pageArea;
    }
</script>


</html>